.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    min-height: 181px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;
    border-radius: 20px;
}

.modal__band {
    height: 30px;
    background-color: #e18c46;
    border-radius: 20px;
    margin-top: 10px
}

.modal__subtitle {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.form_edit {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88%;
    justify-content: space-evenly;
}

.form_edit input {
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.edit_buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.edit_button_cancel, .edit_button_submit {
    cursor: pointer;
    border-radius: 20px;
    border-color:rgb(208, 208, 208);
    border-style: none;
    background-color:#e17c29;
    color: white;
    height: 20px;
    width: 100px;
}

.edit_button_cancel:hover, .edit_button_submit:hover {
    background-color:#cb6919;
}