.access {
    margin: 0 auto;
    height: 400px;
    width: 330px;
}

.logo {
    margin-top: 50%;
}

.heading_descr {
    margin-top: 20px;
}

.heading_sybdescr {
    font-size: 10px;    
}

.form_access {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 15px;
    height: 30px;
    border-radius: 20px;
    border-color: rgb(180, 180, 180);
    border-width: 2px;
    border-style: solid;
    padding-left: 30px;
}

#user {
    background: url(../../resources/img/user.svg) no-repeat center left;
}

#password {
    background: url(../../resources/img/password.svg) no-repeat center left;
}

label {
    font-size: 13px;
}

#remember {
    height: 10px;
}

.btn_login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background-color:#e18c46;
    border-radius: 20px;
    height: 30px;
    color:white;
    cursor: pointer; 
}

.btn_login:hover {
    background-color:#da792b;
}

.btn_login_text {
    margin-right: 220px;
}

.btn_login_arrow {
    height: 20px;
    width: 20px;
    border: white solid;
    border-radius: 90px;
    border-width: 1px;
}

.btn_login_arrow span {
    display: block;
    height: 2px;
    width: 7px;
    margin-left: 7px;
    background-color: white;
    margin-bottom: 2px;
    transform: rotate(45deg);
}

.btn_login_arrow span:nth-child(1) {
    margin-top: 6px;
}

.btn_login_arrow span:nth-child(2) {
    transform: rotate(-45deg);  
}