.students_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.students_nav_page {
    margin: 3px 2px 0 2px;
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 0 black;
}

.students_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color:rgba(0, 0, 0, .05);
    border-radius: 20px;
}

.students_logout img {
    display: block;
    height: 15px;
    width: 15px;
}

.logout {
    margin-left: 5px;
    cursor: pointer;
}

.students_nav_active {
    width: 100%;
    height: 3px;
}

.students_nav_active.active {
    background-color: #e18c46;
}

.add_btn {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 20px;
    border-style: none;
    background-color:#e18c46;
    cursor: pointer;
    height: 30px;
    width: 150px;
    font-size: 15px;
    color: transparent;
    text-shadow: 0 0 0 white;
}

.add_btn:hover {
    background-color:#d6711f;
}