.students {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.students_heading {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.students_line {
    height: 30px;
    background-color: #e18c46;
    border-radius: 20px;
    margin-top: 10px;
}

li {
    list-style-type: none;
}

.students_item {
    display: grid;
    margin: 0 auto;
    margin-top: 15px;
    grid-template-columns: 17% 50% 33%;
    gap: 10px;
}

.item_img img {
    display: block;
    height: 20px;
    width: 20px;
    margin-left: 70%;
}

.item_name {
    margin-top: 5px;
    color:rgba(0, 0, 0, .6);
}

.item_email {
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 0 black;
}

.item_id_group {
    font-weight: 600;
    line-height: 50%;
}

.item_name_grouo {
    margin-top: 10px;
    color:rgba(0, 0, 0, .6);
}

.faded{
    animation-name: faded;
    animation-duration: 1.5s;
  }
  
  @keyframes faded{
      from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }